#
# requirements.in - explicit python dependencies
#
# to update requirements.txt, run:
#
#    pip-compile
#

pip-tools
numpy
spokestack
black
isort
flake8
webrtcvad
pyaudio
websocket-client
requests
